.mainViewContainer {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  margin-top: -62px;
  background-color: #f9f5f3;
}

.mainViewWrapper {
  margin-top: 62px;
}

.image {
  width: 100%;
  height: 410px;
  overflow: hidden;
  position: relative;
  background-color: rgb(185, 185, 185);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.image::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
}

.name {
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  position: absolute;
  text-transform: uppercase;
  background: linear-gradient(to right bottom, #fad26c, #f54e42);
}

.name p {
  margin: 0;
}

/* //MiddlePart */

.middlePart {
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
  justify-content: space-between;
}

.middlePart > div {
  gap: 30px;
  display: flex;
}

.time,
.servings {
  gap: 8px;
  display: flex;
  color: #615551;
  align-items: center;
}

.icon,
.iconSign,
.heartIcon {
  font-size: 18px;
  color: rgb(199, 51, 38);
}

.iconSign {
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 8px;
  user-select: none;
}

.iconSign:hover {
  transform: scale(1.1);
}

.favourites {
  position: relative;
  transition: all 0.3s ease-in;
}

.favourites .showOnHover,
.favourites .removeOnHover {
  display: none;
  top: -50px;
  left: -65px;
  width: 130px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(255, 248, 248);
}

.favourites .removeOnHover {
  left: -85px;
  width: 175px;
}

.heartIcon {
  cursor: pointer;
  font-size: 30px;
}

.favourites:hover .showOnHover,
.favourites:hover .removeOnHover {
  display: block;
}

.empty {
  width: 100%;
  font-size: 18px;
  margin-top: 20%;
  font-weight: bold;
  text-align: center;
  color: rgb(199, 51, 38);
}

@media only screen and (max-width: 768px) {
  .middlePart {
    width: 80%;
  }
}

@media only screen and (max-width: 414px) {
  .mainViewContainer {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    margin-top: -51px;
    background-color: #f9f5f3;
  }

  .mainViewWrapper {
    margin-top: 51px;
  }

  .image {
    height: 300px;
  }

  .name {
    font-size: 16px;
    padding: 8px 10px;
  }

  /* //MiddlePart */

  .middlePart {
    width: 88%;
    display: flex;
    padding: 35px 20px;
  }

  .middlePart > div {
    gap: 20px;
  }

  .time,
  .servings {
    gap: 5px;
    font-size: 14px;
  }

  .icon,
  .iconSign {
    font-size: 16px;
    color: rgb(199, 51, 38);
  }

  .heartIcon {
    font-size: 24px;
  }

  .favourites .showOnHover,
  .favourites .removeOnHover {
    opacity: 0;
    display: none;
  }

  .favourites:hover .showOnHover,
  .favourites:hover .removeOnHover {
    display: none;
  }

  .empty {
    font-size: 16px;
    margin-top: 50%;
  }
}
