.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.input {
  border: none;
  outline: none;
  padding: 10px 14px;
  padding-right: 10%;
  border-radius: 50px;
  width: 300px;
}

.closeIcon {
  font-size: 20px;
  color: rgb(49, 49, 49);
  position: absolute;
  right: 11%;
  cursor: pointer;
}

.input:focus {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.searchIcon {
  font-size: 20px;
  cursor: pointer;
}

.searchIcon:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .input {
    padding-right: 10%;
    border-radius: 50px;
    width: 200px;
  }
}
