.searchContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
}

.input {
  border: none;
  outline: none;
  padding: 8px 25px;
  padding-right: 10%;
  border-radius: 50px;
  width: 200px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.input:focus {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.hideInput {
  width: 0px;
  opacity: 0;
}

.searchIcon,
.whiteSearchIcon {
  font-size: 16px;
  position: absolute;
  color: rgb(122, 122, 122);
  left: 2%;
}

.whiteSearchIcon {
  color: white;
  position: relative;
}

.closeIcon {
  font-size: 16px;
  color: rgb(49, 49, 49);
  position: absolute;
  right: 3%;
  cursor: pointer;
}
