.sidebarContainer {
  width: 30%;
  height: 89vh;
  overflow-y: auto;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
}

.recipeWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in;
}

.recipeWrapper > div {
  display: flex;
  flex-direction: column;
}

.recipeWrapper img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.recipeWrapper:hover {
  background-color: rgba(233, 193, 112, 0.5);
}
