.sidebarContainer {
  width: 30%;
  height: 89vh;
  overflow-y: auto;
  transition: width 0.2s ease-in;
}

.noSidebarContainer {
  width: 0%;
  transition: width 0.2s ease-in;
  height: 89vh;
  overflow: hidden;
}

.noSidebarContainer .recipeWrapper {
  opacity: 0;
  transition: all 0.1s ease-in;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
}

.recipeWrapper,
.recipeWrapperWithBakcgroundColor {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  padding: 10px 15px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.recipeWrapperWithBakcgroundColor {
  background-color: rgba(233, 193, 112, 0.5);
}

.recipeWrapper > div,
.recipeWrapperWithBakcgroundColor > div {
  display: flex;
  flex-direction: column;
}

.recipeWrapper img,
.recipeWrapperWithBakcgroundColor img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.recipeWrapper:hover {
  background-color: rgba(233, 193, 112, 0.5);
}

.empty {
  color: rgb(255, 170, 0);
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.input {
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 50px;
  width: 80%;
  box-shadow: 0 5px 10px rgba(163, 163, 163, 0.4);
}

/* Show And Hide Sidebar */

.sideBarHideBtn,
.sideBarShowBtn {
  /* width: 40px; */
  background-color: rgb(118, 147, 226);
  padding: 3px 8px;
  position: absolute;
  left: 30%;
  cursor: pointer;
  border-radius: 0px 20px 20px 0;
  top: 70px;
  color: white;
  z-index: 3;
  transition: left 0.2s ease-in;
}

.sideBarShowBtn {
  left: 0%;
}

.sideBarShowHideBtn:hover {
  background-color: rgb(68, 117, 180);
}

.arrowIcon {
  font-size: 20px;
  margin: 0px;
}
